* {
	box-sizing: border-box;
}

body {
	background-image:url(../images/backgrounds/body.png);
	padding:0;
	margin:0;
}

#wrapper {
	font-family: "RobotoRegular";
	color:white;
	font-size:30px;
}

div {
	background-color:lightgreen;
	
}

h1 {
	font-family: "Lobster", cursive;
}